FNF ORIGINAL/*
Vs FORDICK/*
vsSOILINFOR/*
bb-panzu stuff/*
.vscode/*
hopka notes/FNF-HopKaNotes-main/*
то, что не должно быть в гит хабе/*
hopka notes/FLP's/*
hopka notes/1.gif
hopka notes/1.png
hopka notes/2.png
hopka notes/Lutreola.jpg
hopka notes/Lutreola.png
hopka notes/Lutreola_vizualiztor.png
hopka notes/LutreolaFLP.mp3
hopka notes/LutreolaH_vizualiztor.png
hopka notes/LutreolaTEXT_vizualiztor.png.png
hopka notes/RECOVER_vtub_animate.fla
hopka notes/Аннотация 2022-12-24 233908.png
hopka notes/визуализатор лутреола.flp
*.swf
